@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";


img.library {

  width: 1000px;

}

td,
th {
  vertical-align: middle;
}


div.book-card {
  padding: .5rem;
  border: 1px solid black;
  height: 100%;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}